.contact{
     background-image: url(../static/images/1.svg);
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 3rem;
}
.container{
    gap: 4rem;
}
.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.cont-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    width: 60%;
    background-color: rgba(123, 120, 125, 0.132) !important; 
    padding: 2rem;
    border-radius: 3rem;
}
.contact form input{
    width: 30vh;
    height: 5vh;
    border-radius: 13px;
    text-align: center;
}
.contact form textarea{
    width: 30vh;
    height: 30vh;
    border-radius: 13px;
    text-align: center;
}
.butn{
    background-color: rgb(236, 95, 85);
    color: aliceblue;
    border-radius: 10px;
}
.butn:hover{
    background-color: black;
}
.contact form button{
    width: 20vh;
    height: 5vh;
}
.contact form input:hover{
    box-shadow: 1px 1px 2px 1px rgb(236, 95, 85);
}
.contact form textarea:hover{
    box-shadow: 1px 1px 2px 1px rgb(236, 95, 85);
}
.navbar{
    background-color: rgba(123, 120, 125, 0.132) !important; 
    border-radius: 1rem;
}

.nav{
    display: flex;
    justify-content: space-between !important;
    height: 8vh;
    
}
.h-list ul li{
    display: flex !important;
    flex-direction: row;
}
.mn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}